{% macro page_in_list(page) %}
{% if page.extra.unlisted %}
{% else %}
<li class="prose prose-h1:mb-0 mt-4 group">
    <a class="no-underline" href="{{ page.permalink | safe }}">
        <div class="w-full transition">
            <div class="max-h-[300px] rounded-lg bg-neutral-200 dark:bg-neutral-800"
                 {% set meta = get_image_metadata(path=page.path ~ "banner.png", allow_missing=true) %}
                 {% if meta %}
                    {% if page.extra.index_banner %}
                        style="background-image: url('{{ get_url(path=page.path ~ 'banner.png', cachebust=true) }}'); background-size: cover;"
                    {% endif %}
                {% endif %}>
                <div class="rounded-lg flex flex-col inset-0 z-10 justify-end
                    {% if page.extra.index_banner %} bg-gradient-to-t {% endif %}
                    from-neutral-900/50 group-hover:from-neutral-900/80">

                    <time class="p-3 !pb-0
                        {% if page.extra.index_banner %} text-white
                        {% else %} text-black dark:text-white
                        {% endif %} dark:drop-shadow-lg"
                         datetime="{{ page.date | date(format='%+') }}">
                        {{ page.date | date(format='%B %d, %Y') }}
                    </time>

                    <h1 class="text-2xl sm:text-3xl transition group-hover:text-orange-500
                        {% if page.extra.index_banner %} text-white
                        {% else %} text-black dark:text-white
                        {% endif %} dark:drop-shadow-lg p-3 !pt-0 
                        {% if page.extra.subtitle %} !pb-0
                        {% else %} !pb-1 sm:!pb-2 w-full
                        {% endif %}">
                        {{ page.title }}
                    </h1>
                     
                    <section class="p-3 !pt-1
                        {% if page.extra.index_banner %} text-white
                        {% else %} text-black dark:text-white
                        {% endif %} dark:drop-shadow-lg !pb-1 sm:!pb-2 w-full">
                        {% if page.extra.subtitle %}
                        {{ page.extra.subtitle | truncate(length=75) | safe}}
                        {% endif %}
                    </section>
                </div>
            </div>
        </div>
    </a>
</li>
{% endif %}
{% endmacro page_in_list %}
